.selected {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #ccc;
  /* font-size: 13.3333px; */
  font-size: 12px;
  font-weight: bold;
  margin-right: 0.5em;
}

.selectedLink {
  color: #fff;
}

.links {
  display: flex;
  /* gap: 12px; */
  flex-wrap: wrap;
}

.button {
  font-size: 13.3333px;
  white-space: nowrap;
}
